* {
     margin: 0;
     font-family: Arial;
}
h1{
  font-size: 35px;
  font-weight: 500;
  color: #5B0600;
}
/* 導航列 */
 nav {
     padding: 20px;
     min-height: 150px;
     background:#fff url(https://andy6804tw.github.io/yenchao-library-web-2018/material/Images/home/home-block.png) no-repeat;
     -moz-background-size: cover;
     background-size: cover;
}
/* 燕巢logo置中 */
 .navbar-header{
     text-align: center;
}
/* 連結水平置中 */
 nav button {
     display: none;
}
/* 文字連結 */
.navbar-bottom{
  text-align: center;
}
 nav ul{
     list-style-type:none;
     display: inline-block;
     margin-top: 15px;
}
 nav ul li{
     display:inline;
     padding: 25px 30px 25px 30px;
}
 nav a{
     text-decoration:none;
     color: #47454a 
}
/* 導航列RWD */
 @media (max-width: 1000px) {
     nav{
         min-height: 100px;
         padding: 5px;
    }
     nav img{
         min-width: 130px;
         min-height: 100px;
    }
     nav button {
         display: block;
    }
     nav button {
         position: absolute;
         top: 35px;
         right: 20px;
         border: none;
         cursor: pointer;
         padding: 10px;
         border-radius: 4px;
         background: rgba(0, 0, 0, 0.3);
    }
     nav button div{
         width: 45px;
         height: 3px;
         background-color: white;
         margin: 7px 0;
    }
     nav ul {
         width: 100%;
         padding: 0;
         display: none;
    }
     nav ul.active {
         display: block;
         padding-top: 20px;
    }
     nav ul li {
         display: block;
         border-top: 1px solid black;
    }
     nav ul li a {
         font-size: 30px;
         display: block;
         text-align: center;
         text-decoration: none;
         color: #000;
    }
     nav ul li:last-child a {
         padding-bottom: 0;
    }
}
 
/**
 * Slideshow / Carousel
 */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  line-height: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px;
  border:1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: white 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.dot-block{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

/** 
 * Block 1 (AR互動)
 */
.block-1{
  height: 480px;
  width: 100%;
  background-image: url(https://andy6804tw.github.io/yenchao-library-web-2018/material/Images/home/home-block01.png);
  -moz-background-size: cover;
  background-size: cover;
}

.block-1 .left{
  float:left;
  width: 25%;
  margin-bottom: 10px;
  margin: 6% 4% 5% 16%;
}
.left p{
  margin-top: 35px;
  font-size: 15px;
  color: #47454a;
}
.block-1 .button{
  text-align: center;
}
.block-1 a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
}

.block-1 .right{
  float:left;
  width: 40%;
  margin-bottom: 10px;
  margin: 3% 15% 5% 0%;
}
.block-1 img{
  width: 100%;
  height: auto;
}

/** 
 * Block 2 (360導覽)
 */
.block-2{
  height: 480px;
  width: 100%;
  background-image: url(https://andy6804tw.github.io/yenchao-library-web-2018/material/Images/home/home-block02.png);
  -moz-background-size: cover;
  background-size: cover;
}

.block-2 .right{
  float:left;
  width: 30%;
  margin-bottom: 10px;
  margin: 3% 16% 5% 4%;
}
.right p{
  margin-top: 35px;
  font-size: 15px;
  color: #47454a;
}
.block-2 .button{
  text-align: center;
}
.block-2 a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 5px;
    width: 80px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
}

.block-2 .left{
  clear: both;
  float:left;
  width: 35%;
  margin-bottom: 10px;
  margin: 20px 0% 5% 15%;
}
.block-2 img{
  width: 95%;
  height: auto;
}

/** 
 * Block 3 (簡介)
 */
.block-3{
  height: 490px;
  width: 100%;
  background-image: url(https://andy6804tw.github.io/yenchao-library-web-2018/material/Images/home/home-block03.png);
  -moz-background-size: cover;
  background-size: cover;
}

.block-3 .left{
  clear: both;
  float:left;
  width: 30%;
  margin-bottom: 10px;
  margin: 0% 4% 5% 16%;
}
.left p{
  margin-top: 35px;
  font-size: 15px;
  color: #47454a;
}
.block-3 .button{
  text-align: center;
}
.block-3 a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 30px;
}

.block-3 .right{
  float:left;
  width: 35%;
  margin-bottom: 10px;
  margin: 10px 15% 5% 0%;
}
.block-3 img{
  width: 95%;
  height: auto;
}

/* section */
 #screen2 {
     height: 470px;
     background: #efc94d;
}
 #screen3 {
     height: 470px;
     background: #e1793d;
}
